<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
   <!--  <bean id="jedisPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
    	<property name="maxTotal" value="50"></property>
    	<property name="maxIdle" value="20"></property>
    	<property name="minIdle" value="20"></property>
    	<property name="maxWaitMillis" value="1000"/>
    </bean>
    
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
	     <constructor-arg name="poolConfig" ref="jedisPoolConfig"></constructor-arg>
	     <constructor-arg name="host" value="192.168.199.130"/>
	     <constructor-arg name="port" value="6380"/>
	     <constructor-arg name="timeout" value="1000"/>
	</bean>
	 -->
	
</beans>